@charset "utf-8";
@import "reset";
@import "setting";

html {
  font-size: 62.5%;
}
body {
  display: block;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  line-height: 1.71;
  color: $black;
  @include sp {
    font-size: 1.4rem;
  }
  @include pc {
    min-width: 1079px;
  }
}
img {
  height: auto;
}
strong {
  font-size: 1.5em;
}
.pc {
  @include sp {
    display: none !important;
  }
}
.sp {
  @include pc {
    display: none !important;
  }
}
.inner {
  max-width: 1320px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}

#modal {
  &-area {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }
  &-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.8);
    z-index: 10;
    cursor: pointer;
    opacity: 0;
  }
  &-container {
    position: relative;
    z-index: 20;
    opacity: 0;
    position: absolute;
    top: calc(50% + 25px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-close {
    cursor: pointer;
    transition: opacity 0.5s $ease;
    display: inline-block;
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 20;
    margin-bottom: 10px;
    &:hover {
      opacity: 0.5;
    }
  }
  &-cross {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}
#modal-area.is-active {
  pointer-events: visible;
  #modal-mask {
    opacity: 1;
  }
  #modal-container {
    opacity: 1;
  }
}
.modal-tirgger {
  cursor: pointer;
  text-decoration: underline;
  color: $blue;
  transition: opacity 0.6s $ease;
  &:hover {
    opacity: 0.6;
  }
}
.modal-content {
  background: #fff;
  max-height: calc(90vh - 50px);
  overflow-y: scroll;
}

.code {
  background: $black;
  color: #fff;
  padding: 30px 1em;
  &-type {
    &-sass {
      background: #cd6799;
      color: #fff;
      display: inline-block;
      padding: 0 1em;
    }
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  &-chunk {
    + .section-chunk {
      margin-top: 80px;
    }
    > *:not(:first-child) {
      margin-top: 30px;
    }
  }
}
.chunk-title {
  color: $blue;
  font-size: 2.8rem;
  font-weight: bold;
  border-bottom: 3px solid $blue;
}
.chunk-desc {
  > * {
    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }
}
.chunk-list {
  li {
    padding-left: 1.5em;
    position: relative;
    &::before {
      content: "■";
      display: inlin-block;
      color: $blue;
      position: absolute;
      top: 0;
      left: 0;
    }
    + li {
      margin-top: 0.5em;
    }
  }
}
.chunk-message {
  text-align: center;
}

.js-tab {
  &-titles {
    display: flex;
    justify-content: space-between;
  }
  &-title {
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    padding: 1em;
    width: 40%;
    background: $blue;
    &:not(.is-active) {
      opacity: 0.3;
    }
  }
  &-contents {
    border: 5px solid $blue;
  }
  &-content {
    padding: 40px;
  }
}

.footer {
  &-hopper {
    background: $blue;
    a {
      display: block;
      color: #fff;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 1.8rem;
      font-weight: bold;
      transition: opacity 0.6s $ease;
      &:hover {
        opacity: 0.6;
        overflow: hidden;
      }
    }
  }
}

.pseudo {
  &-html {
    width: 600px;
    padding: 40px;
  }
  &-text {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
  }
  &-mv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: $blue;
    color: #fff;
  }
  &-section {
    padding: 50px 20px;
    background: rgb(202, 219, 219);
    &:nth-child(odd) {
      background: rgb(170, 216, 216);
    }
  }
  &-footer {
    background: $blue;
    color: #fff;
  }
}

.grumble {
  text-align: right;
  padding-right: 1em;
}

// 自薦サンプル
.box {
  height: 0;
  padding-top: 100px;
  background: $yellow;
}
.sample-col3 {
  ul {
    @include setColumn(3, 40px);
  }
}
.sample-col4 {
  ul {
    @include setColumn(4, 5%, 20px);
  }
}
.sample-col5 {
  ul {
    @include setColumn(5, 5px);
  }
}

// 他薦サンプル
.sample{
  &-itemlist{
    @include setColumn(3);
  }
  &-item-detail{
    color: #fff;
    background: #11415a;
  }
}
